[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
tox = "*"
flask-assistant = {editable = true,path = "."}

[packages]
aniso8601 = "*"
certifi = "*"
chardet = "*"
click = "*"
idna = "*"
itsdangerous = "*"
requests = "*"
urllib3 = "*"
Flask = ">1.0.2"
MarkupSafe = "*"
"ruamel.yaml" = "*"
Werkzeug = "*"
google-auth = "*"
dialogflow = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
