[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
tox = "*"

[packages]
flask-assistant = {editable = true,path = "."}
google-auth = "*"

[pipenv]
allow_prereleases = true
