-i https://pypi.org/simple
aniso8601==8.1.0
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
click==8.0.0a1
dialogflow==1.1.0
flask==1.1.2
google-api-core[grpc]==1.24.1
google-auth==1.24.0
googleapis-common-protos==1.52.0
grpcio==1.34.0
idna==2.10
itsdangerous==2.0.0a1
jinja2==3.0.0a1
markupsafe==2.0.0a1
protobuf==4.0.0rc2
pyasn1-modules==0.2.8
pyasn1==0.4.8
pytz==2020.5
requests==2.25.1
rsa==4.7 ; python_version >= '3.6'
ruamel.yaml.clib==0.2.2 ; platform_python_implementation == 'CPython' and python_version < '3.9'
ruamel.yaml==0.16.12
six==1.15.0
urllib3==1.26.2
werkzeug==1.0.1
